
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2016, 1:09:46 PM
    Author     : beithia
*/

#draggable{
    min-height: 350px
}

#activeusers{
    border:solid 1px;
    margin-top:5px; 
    margin-bottom:5px; 
    margin-right:10px;  
    max-height:285px; 
    height: 285px;
    width:100px; 
    overflow-y:auto
}

#messageArea{
    margin-bottom:10px; 
    height:200px; 
    max-height:200px; 
    overflow-y:auto
}