
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2016, 1:09:46 PM
    Author     : beithia
*/

#draggable{
    min-height: 355px;
    height: 400px;
    min-width: 355px;
    //padding-bottom: 10px;
}

#chatwindow{
    height: 90%;///
}

#chatform{
    height: 90%;///
}

#groupchatlist{
    border:solid 1px;
    //margin-top:5px; 
    ///margin-bottom: 5px; 
    margin-right: 10px; 
    height: 100%;
    width: 125px; 
    overflow: auto;
}

#messageArea{
    margin-bottom: 10px; 
   // margin-top: 5px;
    height: 75%;  
    overflow-y: auto;
    word-wrap: normal;

}

.panel-heading{
   // height: 10%;
}
#message{
    resize: none;
}
//message box and send button
.input-group{
  
}

#minimize{
    margin-right: 3px;
    color:black;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
}

#close{
    margin-left: 3px;
    color: red;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
}